.form-control{
    width: 400px !important;
    height: 50px;
}

.btn-group{
    margin-right:10px
}

.cart-btn{
    margin-right:10px;
    background-color: rgb(12,131,31);
    border-radius: 8px;
    height: 40px;
    width:auto;
}

.cart-btn:hover{
    opacity: 2;
    cursor: pointer;
}


.logout:hover{
    background-color: #1C2331;
/* color: red !important; */
}

.cp-logout{
    cursor: pointer;
}

.cart{
    color: white;
    height:35px;
    width: 38px;
}

.cartqty{
    /* border: 2px solid white; */
    padding: 4px 5px;
    border-radius: 20px; 
   
}

.accbt{
    padding: 6px 12px;
    /* color: red; */
    font-size: 16px;
}

.accbt:hover{
    color: white;
}

.accbt:hover::after{
    color: white;
}

.navbar {
    background-color: var(--navbar-scroll);
    transition: background-color 1s ease;
    color: var(--navbar-scroll-text);
    -webkit-box-shadow: var(--navbar-scroll-shadow);
    box-shadow: var(--navbar-scroll-shadow);
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    vertical-align: middle;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    outline: none;
}

